.container{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.calculator_body{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height:100px;
    max-height: 200px;
    background-color: slategrey;
    width: 400px;
}

.all_buttons{
    display:grid;
    grid-template-columns: repeat(5, 80px [col-start]);
    color:grey
}

button{
    height:100px;
}


.screen{
    align-self: flex-end;
}

.display{
    border: 2px solid black;
    height :20px;
    width : 350px;
}

#equal{
    width:160px;
}
